name: CI/CD Deploy

on:
  push:
    branches: [ main, developer ]
  pull_request:
    branches: [ main, developer ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2
          extensions: mbstring, bcmath, ctype, json, openssl

      - name: Copy .env
        run: cp .env.example .env

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Generate app key
        run: php artisan key:generate

      - name: Clear config cache
        run: php artisan config:clear

      - name: Cache config
        run: php artisan config:cache

      - name: Install Node dependencies
        run: npm install

      - name: Build assets
        run: npm run build

      - name: Run Tests
        run: php artisan test


  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: contains(fromJson('["refs/heads/main", "refs/heads/developer"]'), github.ref)

    steps:
      - uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: docker build -t laravel-app .

      - name: Push image
        run: docker push laravel-app  # opcional

      - name: Deployment script (manual use)
        run: |
          echo "Deploy image generated. Run deploy.sh inside Codespaces."
