name: Run Tests

on:
  push:
    branches: [ main, developer ]
  pull_request:
    branches: [ main, developer ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        tools: composer:v2
        extensions: mbstring, bcmath, ctype, json, openssl, sqlite

    - name: Copy .env.testing
      run: cp .env.testing .env

    - name: Install dependencies
      run: composer install --no-interaction --prefer-dist --optimize-autoloader

    - name: Generate app key
      run: php artisan key:generate

    - name: Run Tests
      run: php artisan test
